html, body{
    height: 100%;
}

#root-window{
    height: 100%;
}

#game-window{
    height: 100%;
}

#ui-toolbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100vh;
    padding: 16px;
    background-color: #aea3a333;
}
#title-div{
    color: lightgray;
    height: 40px;
    font-size: 16px;
}

.ui-button{
    cursor: pointer;
    background-color: #8e8e8e55;
    border: 1px solid black;
    color: lightgray;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 0;
}
.ui-button:hover{
    opacity: 0.5;
}

.ui-button.selected{
    background-color: #c1c1d655;
}

.ui-button:not(.selected){
    background-color: #33333355;
}